services:
  # ตู้ที่ 1: ฐานข้อมูล
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: wordpress
    volumes:
      - db_data:/var/lib/mysql
    deploy:
      resources:
        limits:
          cpus: '0.50'     # ใช้ CPU ได้ไม่เกิน 50% ของ 1 Core
          memory: 512M    # ใช้ RAM ได้ไม่เกิน 512MB
        reservations:
          memory: 128M    # จอง RAM ไว้ให้ขั้นต่ำ 128MB
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  # ตู้ที่ 2: หน้าเว็บ WordPress
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "7777:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: ${DB_ROOT_PASSWORD}
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp-content:/var/var/www/html/wp-content
    deploy:
      resources:
        limits:
          cpus: '0.50'     # ใช้ CPU ได้ไม่เกิน 50% ของ 1 Core
          memory: 512M    # ใช้ RAM ได้ไม่เกิน 512MB
        reservations:
          memory: 128M    # จอง RAM ไว้ให้ขั้นต่ำ 128MB
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  # ตู้ที่ 3: เครื่องมือจัดการฐานข้อมูล
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  # ตู้ที่ 4: เก็บข้อมูลสถิติ
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml  # <--- เพิ่มบรรทัดนี้
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  # ตู้ที่ 5: วาดกราฟ Dashboard
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  # ตู้ที่ 6: สายลับดึงข้อมูล Hardware
  node-exporter:             # <--- ชื่อตรงนี้ต้องมีขีดกลางเหมือนใน prometheus.yml
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    ports:
      - "9100:9100"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # ตู้ที่ 7: Proxy-manager
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./npm-data:/data
      - ./npm-letsencrypt:/etc/letsencrypt
volumes:
  db_data:
  grafana_data:
