services:
  # ตู้ที่ 1: ฐานข้อมูล
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: wordpress
    volumes:
      - db_data:/var/lib/mysql

  # ตู้ที่ 2: หน้าเว็บ WordPress
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "7777:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: ${DB_ROOT_PASSWORD}
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./wp-content:/var/var/www/html/wp-content


  # ตู้ที่ 3: เครื่องมือจัดการฐานข้อมูล
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
    depends_on:
      - db


volumes:
  db_data:
