name: Docker Compose Check and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  # งานที่ 1: ตรวจสอบความถูกต้อง
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate Docker Compose
        run: docker compose config

  # งานที่ 2: สั่งติดตั้ง
  deploy:
    needs: test
    runs-on: self-hosted
    steps:
      - name: Sync and Update
        run: |
          cd ~/my-first-stack
          git pull origin main
          docker compose up -d
