name: Docker Compose Check

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate Docker Compose
        run: docker compose config

deploy:
    needs: test # ต้องรอให้ขั้นตอน test ผ่านก่อนถึงจะทำอันนี้
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # ทำเฉพาะตอน push ลง main branch
    steps:
      - name: Remote SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd ~/my-first-stack
            git pull origin main
            sudo docker compose up -d
